	.CFUserTextEncoding
	.DS_Store
	.Trash/
	.Xauthority
	.anaconda/
	.bash_history
	.bash_profile
	.bash_sessions/
	.cache/
	.condarc
	.cups/
	.dropbox/
	.gitconfig
	.ipython/
	.jupyter/
	.local/
	.oracle_jre_usage/
	.rnd
	.subversion/
	.vmware/
	.wine/
	0C3DB857C6D0
	27D9702C5317
	2B1A5C23E52B
	3ADE13EF3FC4
	52C7FDC41529
	81A0CC3CF946
	84750B6D8034
	Applications/
	Desktop/
	Documents/
	Downloads/
	Dropbox/
	E56470FCFF91
	E70083F84126
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	VirtualBox VMs/
	Vlabs Shared/
	cfdproj1 sin.nb
